
<html>
<title>our Twitter</title>
<head>
<!-- Custom-Theme-Files -->
	<link href="{{url_for('static',filename='css/Mainstyle.css')}}" rel="stylesheet" type="text/css"/>
<!-- //Custom-Theme-Files -->
	<script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
	
	<script type="text/javascript" src="{{url_for('static',filename = 'js/page.js')}}"></script>
<script>
	var display = false;
	function show(){
	    if(display){
	       document.getElementById('menu').style.display = "none";
	       display = false;
	     }
	    else {
		document.getElementById('menu').style.display = "";
		display = true;
	    }
	}
	function deleteComment(obj)
	{
		//var postid=obj.id;
		var data = {
         	data: JSON.stringify({"commentid": obj.id})
	   	}
		     $.ajax({
			url:"/deleteComments",
			type: 'POST',
			data: data,
			success: function (msg) {
				window.location.href="/newcommentWeb";  
			}
    			});

	}

	function like(obj)
	{
		var likeid="like"+obj.id;
		var likevalue=parseInt(document.getElementById(likeid).innerText);
		
		var data = {
         	data: JSON.stringify({"commentid": obj.id})
	   	}
		
		if(obj.text=="like"){
			//obj.text= "dislike";

			$.ajax({
			url:"/likeComment",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "dislike";
				//like_value=true;  
				document.getElementById(likeid).innerHTML=likevalue+1;
			}
    			});
		}else{
			//obj.text= "like";

			$.ajax({
			url:"/dislikeComment",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "like";
				//like_value=false;
				document.getElementById(likeid).innerHTML=likevalue-1;
			}
    			});
			
		}
	}
	function showdata(index,end){
		var t = document.createElement('table');
		t.style="border:2px; width:100%;table-layout:fixed;text-align: center;";
		var myname="{{Musername}}";
		for (var i=index;i<end;i++)
		{
			var r = t.insertRow();
			var name = r.insertCell();
			name.innerHTML = obj[i].username;
			name.style="width:15%;vertical-align:middle;";
			var post = r.insertCell();
			post.style="width:60%;table-layout:fixed;table-layout:fixed;text-align: center;";
			var input = document.createElement('textarea');
			//input.setAttribute('type', 'text');
			input.value = obj[i].comment;
			input.style="width:100%;font-size: 12px;font-weight: bold;vertical-align:middle;";
			input.disabled= "true ";
			post.appendChild(input);
			var like = r.insertCell();
			var liketext=["like","dislike"];
			like.innerHTML = "<a style='color:#000' href='javascript:void(0);' onclick='like(this)' id='"+obj[i].commentid+"' >"+liketext[parseInt(obj[i].flag)]+"</a><span style='color:#9F4D95;font-size:12px;margin-left:5px;' id='like"+obj[i].commentid+"'>"+obj[i].like+"</span>";
			like.style="width:10%;vertical-align:middle;";
			if(myname==obj[i].username){
				var del = r.insertCell();
				del.innerHTML = "<a style='color:#3333FF;font-size:13px;' href='javascript:void(0);' onclick='deleteComment(this)' id='"+obj[i].commentid+"' >delete</a>";
				del.style="width:10%;vertical-align:middle;";
			}
		     
		}
		document.getElementById('comments').appendChild(t);
		//alert("okkkkk");
	}

	window.onload = function() {

		  	var str=JSON.stringify({{ commentjson|tojson|safe }} );
			obj=$.parseJSON(JSON.parse(str));
			
			var index=0,end=5;
			if(obj.length<end)
				end=obj.length;
		
			showdata(index,end);
			
			PagingManage($('#complete'),obj.length, 5, 1);		
			pagenum=obj.length;
			
			//alert(end);
		  
		}
	
function go() {
    PagingManage($('#complete'),pagenum, 5, 1);
};
function switchPage(divId, page) {
	//PagingManage($('#complete'),pagenum, 5, page);
    	var str="";
	$("#comments").html(str)
	
	var index=(page-1)*5,end=index+5;
        if(obj.length<end)
		end=obj.length;
	showdata(index,end);
	
	//alert(page);
}

function submit()
	{	
		//if(confirm("confirm submit?")){
			var postid={{postid}};
			var comment=document.getElementById("mycomment").value;
			//alert(comment);
			var data = {
		 	data: JSON.stringify({"postid": postid,"comment":comment})
		   	}
			     $.ajax({
				url:"/SubComment",
				type: 'POST',
				data: data,
				success: function (msg) {
				    //alert("dsfsf");
				    window.location.href="/newcommentWeb"; 
				}
	    			});
		//}
		//location.replace("");
				
	}
function send_blog(){
	window.location.href="/SendBlogs";  
} 

function Return(){
	window.location.href="/mainWindow";  
} 
	function information(){
		window.location.href="/Information";  
	} 
function sign_out()
	{
		if(confirm("confirm sign out?"))
			location.replace("/sign_out");	
				
	}

</script>
</head>
<body>
<div style="width:100%; height:100%;">

<div style="width:20%; height:100%; float:left;"></div>

<div style="width:60%; height:100%; float:left;">
<h1 style="margin-top:5%;">Welcome our world</h1>
<div class="container">
<!-- Mainbar-Starts-Here -->
		<div class="main-bar" style="height:30px;">
			<div class="comment">
				<h3>Comments</h3>
			</div>
		</div>
		
		
		
		<div class="items" id="datas">
			<!-- user post -->
			<div style="text-align: center;width:100%;height:7%;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;">
			<div style="width:20%;height:100%; float:left;line-height:50px;color:#FFFFFF;font-weight: bold;">{{username}}</div> 
			<div style="width:80%;height:100%; float:left;">
				<textarea style="font-weight:bold;width:100%;height:100%;">{{userpost}}</textarea>			
			</div>			
			</div>
			

			<div style="height:5px;margin-bottom: 3px;background-color: #70658A;"></div>
			
			<!-- other comment -->	
			<div>			
			<div id="comments" style="color:#FFFFFF;font-weight:bold;width:100%;width:100%;height:auto;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;"></div>
			<div id="complete" style="margin-bottom: 30px;">			</div>
			</div>
			<!-- my comment -->
			<div style="width:100%;height:20%;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;">
	
				<textarea id="mycomment" style="font-weight:bold;width:100%;height:70%;"></textarea>
				
				<div style="float:left; margin-left:75%;"><input type="button" onclick="javascript:Return();" value="Return"  /></div>
				<div style="float:left;"><input type="button" onclick="javascript:submit();" value="Confirm"  /></div>
					
			</div>

		</div>
		
		
		
		
</div>
	



</div>
<div style="width:20%; height:100%; float:left;">
	<div class="sign-out" >
		<a href="javascript:show();">{{Musername}}</a>
		<ul style="display:none;" id="menu">
	        <li ><a href="javascript:sign_out();">Sign out</a></li>
		<li ><a href="javascript:send_blog();">Send Blog</a></li>
	    	<li ><a href="javascript:information();">Information</a></li>
	  	</ul>
	</div>

</div>




</div>


</body>
</html>
