<html>
<head>
 <title>Welcome to Twitter &#8212; Twitter Documentation (0.0.1)</title>
</head>
<body>
 <div>
<h1>Welcome to Twitter</h1>

<p>Welcome to Twitter’s documentation.  This documentation is divided into 
different parts.</p>
</div>
<div >
<h2>User’s Guide</h2>
<p>This part of the documentation, which is mostly prose, begins with some
background information about Twtter, then focuses on step-by-step
instructions for web development.</p>
</div>
<div>
<ul>
<li ><scan>User</scan><ul>
<li ><a  target="_blank" href="/user_sign_up">sign-up</a></li>
<li ><a  target="_blank" href="/user_login">login</a></li>
<li ><a  target="_blank" href="/user_sign_out">sign-out</a></li>
<li ><a  target="_blank" href="/user_infomation">information</a></li>
</ul>
</li>
<li ><scan>Blogs</scan><ul>
<li ><a target="_blank" href="/blogs_send">send</a></li>
<li ><a target="_blank" href="/blogs_modify">modify</a></li>
<li ><a target="_blank" href="/blogs_delete">delete</a></li>
<li ><a target="_blank" href="/blogs_like">like/dislike</a></li>
</ul>
</li>
<li ><scan>Comments</scan><ul>
<li ><a target="_blank" href="/comments_send">send</a></li>
<li ><a target="_blank" href="/comments_modify">modify</a></li>
<li ><a target="_blank" href="/comments_delete">delete</a></li>
<li ><a target="_blank" href="/comments_like">like/dislike</a></li>
</ul>
</li>
<li ><scan>Friends</scan><ul>
<li ><a target="_blank" href="/friends_search">follow/cancel</a></li>
</div>

</body>
</html>
