
<html>
<title>our Twitter</title>
<head>
<!-- Custom-Theme-Files -->
	<link href="{{url_for('static',filename='css/Mainstyle.css')}}" rel="stylesheet" type="text/css"/>
<!-- //Custom-Theme-Files -->
	<script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
	
	<script type="text/javascript" src="{{url_for('static',filename = 'js/page.js')}}"></script>
<script>
	var display = false;
	function show(){
	    if(display){
	       document.getElementById('menu').style.display = "none";
	       display = false;
	     }
	    else {
		document.getElementById('menu').style.display = "";
		display = true;
	    }
	}
function follow(obj)
	{
		var userid=obj.id;
		
		var data = {
         	data: JSON.stringify({"userid": userid})
	   	}
		
		if(obj.text=="follow"){		
			$.ajax({
			url:"/followfriend",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "cancel";
				//window.location.href="/friends"; 
			}
    			});
		}else{
			$.ajax({
			url:"/cancelfollow",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "follow";
				//window.location.href="/friends"; 
			}
    			});
			
		}
	}

function showdata(index,end){
		var t = document.createElement('table');
		t.style="border:2px; width:100%;table-layout:fixed;text-align: center;";
		var myname="{{Musername}}";
		for (var i=index;i<end;i++)
		{
			if(myname == obj[i].username){continue;}
			var r = t.insertRow();
			var name = r.insertCell();
			name.innerHTML = obj[i].username;
			name.style="width:15%;vertical-align:middle;";
			var country = r.insertCell();
			country.style="width:60%;table-layout:fixed;table-layout:fixed;text-align: center;";
			country.innerHTML = obj[i].country;
			if(myname != obj[i].username){
				var follow = r.insertCell();
				var followtext=["follow","cancel"];
				follow.innerHTML = "<a style='color:#3333FF;font-size:13px'; href='javascript:void(0);' onclick='follow(this)' id='"+obj[i].userid+"' >"+followtext[parseInt(obj[i].follow)]+"</a>";
				follow.style="width:10%;vertical-align:middle;";
			}
		     
		}
		document.getElementById('comments').appendChild(t);
		//alert("okkkkk");
	}

	window.onload = function() {

		  	var str=JSON.stringify({{ users|tojson|safe }} );
			obj=$.parseJSON(JSON.parse(str));
			
			var index=0,end=5;
			if(obj.length<end)
				end=obj.length;
		
			showdata(index,end);
			
			PagingManage($('#complete'),obj.length, 5, 1);		
			pagenum=obj.length;
			
			//alert(end);
		  
		}
	
	
function go() {
    PagingManage($('#complete'),pagenum, 5, 1);
};
function switchPage(divId, page) {
	//PagingManage($('#complete'),pagenum, 5, page);
    	var str="";
	$("#comments").html(str)
	
	var index=(page-1)*5,end=index+5;
        if(obj.length<end)
		end=obj.length;
	showdata(index,end);
	
	//alert(page);
}
function sign_out()
	{
		if(confirm("confirm sign out?"))
			location.replace("/sign_out");	
				
	}	
	
function send_blog(){
	window.location.href="/SendBlogs";  
} 

function Return(){
	window.location.href="/mainWindow";  
} 
function information(){
	window.location.href="/Information";  
} 


function Search(){
	var name=$('#searchName').val();
	//alert(name);

	var data = {
         	data: JSON.stringify({"username": name})
	}
	$.ajax({
			url:"/searchUser",
			type: 'POST',
			data: data,
			success: function (dat) {
				if(dat == "nobody")
					alert("user not exist!");
				else{
					var str=JSON.stringify(dat);
					var user=$.parseJSON(JSON.parse(str));
					//alert(user.username)
					var str="";
					$("#comments").html(str)
					var t = document.createElement('table');
					t.style="border:2px; width:100%;table-layout:fixed;text-align: center;";
					var myname="{{Musername}}";
					
					var r = t.insertRow();
					var name = r.insertCell();
					name.innerHTML = user.username;
					name.style="width:15%;vertical-align:middle;";
					var country = r.insertCell();
					country.style="width:60%;table-layout:fixed;table-layout:fixed;text-align: center;";
					country.innerHTML = user.country;
					if(myname != user.username){
						var follow = r.insertCell();
						var followtext=["follow","cancel"];
						follow.innerHTML = "<a style='color:#3333FF;font-size:13px'; href='javascript:void(0);' onclick='follow(this)' id='"+user.userid+"' >"+followtext[parseInt(user.follow)]+"</a>";
						follow.style="width:10%;vertical-align:middle;";
					}
					     
					
				document.getElementById('comments').appendChild(t);
				}
			}
    	});

}

</script>
</head>
<body>
<div style="width:100%; height:100%;">

<div style="width:20%; height:100%; float:left;"></div>

<div style="width:60%; height:100%; float:left;">
<h1 style="margin-top:5%;">Welcome our world</h1>
<div class="container">
<!-- Mainbar-Starts-Here -->
		<div class="main-bar" style="height:30px;">
			<div class="comment">
				<h3>Comments</h3>
			</div>
		</div>
		
		
		
		<div class="items" id="datas">
			<!-- user post -->
			<div style="text-align: center;width:100%;height:7%;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;">
			<div style="width:20%;height:100%; float:left;line-height:50px;color:#FFFFFF;font-weight: bold;">
			<font style="color: #FFF;">Input Name</font>
</div> 		
			<div style="width:65%;height:100%; float:left;">
				<input type="text" style="font-weight:bold;width:100%;height:100%;" id="searchName"/>
			</div>	
			<div style="width:15%;height:100%; float:left;color:#FFFFFF;font-weight: bold;margin-top:9px;">
			<input type="button" onclick="javascript:Search();" value="Search"/>
</div> 		
			</div>
			

			<div style="height:5px;margin-bottom: 3px;background-color: #70658A;"></div>
			
			<!-- other comment -->	
			<div>			
			<div id="comments" style="color:#FFFFFF;font-weight:bold;width:100%;width:100%;height:auto;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;"></div>
			<div id="complete" style="margin-bottom: 30px;">			</div>
			</div>
			<!-- my comment -->
			<div style="width:100%;height:5%;background-color: #70658A;border-radius: 5px;margin-bottom: 3px;">
	
				
				
				<div style="float:left; margin-left:85%;"><input type="button" onclick="javascript:Return();" value="Return"  /></div>
					
			</div>

		</div>
		
		
		
		
</div>
	

	



</div>
<div style="width:20%; height:100%; float:left;">
	<div class="sign-out" >
		<a href="javascript:show();">{{Musername}}</a>
		<ul style="display:none;" id="menu">
	        <li ><a href="javascript:sign_out();">Sign out</a></li>
		<li ><a href="javascript:send_blog();">Send Blog</a></li>
	    	<li ><a href="javascript:information();">Information</a></li>
		<li ><a href="#">Find Friends</a></li>
	  	</ul>
	</div>

</div>




</div>


</body>
</html>
