
<html>
<title>our Twitter</title>
<head>
<!-- Custom-Theme-Files -->
	<link href="{{url_for('static',filename='css/Mainstyle.css')}}" rel="stylesheet" type="text/css"/>
<!-- //Custom-Theme-Files -->
	<script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
	
	<script type="text/javascript">
	function sign_out()
	{
		if(confirm("confirm sign out?"))
			location.replace("/login");	
				
	}
	function deletePost(obj)
	{
		//var postid=obj.id;
		var data = {
         	data: JSON.stringify({"postid": obj.id})
	   	}
		     $.ajax({
			url:"/deletePosts",
			type: 'POST',
			data: data,
			success: function (msg) {
			    //location.replace("/commentWeb");
				window.location.href="/mainWindow";  
			}
    			});

	}
	//var like_value=false;
	function like(obj)
	{
		var likeid="like"+obj.id;
		var likevalue=parseInt(document.getElementById(likeid).innerText);
		//alert(likevalue+1);
		var data = {
         	data: JSON.stringify({"postid": obj.id})
	   	}
		
		if(obj.text=="like"){
			$.ajax({
			url:"/likePost",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "dislike";
				//like_value=true;  
				document.getElementById(likeid).innerHTML=likevalue+1;
			}
    			});
		}else{
			$.ajax({
			url:"/dislikePost",
			type: 'POST',
			data: data,
			success: function (msg) {
				obj.text= "like";
				//like_value=false;
				document.getElementById(likeid).innerHTML=likevalue-1;
			}
    			});
			
		}
	}
	function comment(obj)
	{
		var data = {
         	data: JSON.stringify({"postid": obj.id})
	   	}
		     $.ajax({
			url:"/Lcomment",
			type: 'POST',
			data: data,
			success: function (msg) {
			    //location.replace("/commentWeb");
				window.location.href="/commentWeb";  
			}
    			});
		//location.replace("");
				
	}
	var display = false;
	function show(){
	    if(display){
	       document.getElementById('menu').style.display = "none";
	       display = false;
	     }
	    else {
		document.getElementById('menu').style.display = "";
		display = true;
	    }
	}

	function showdata(index,end){
		var t = document.createElement('table');
		t.style="border:2px; width:100%;table-layout:fixed;text-align: center;";
		var myname="{{username}}";
		for (var i=index;i<end;i++)
		{
			var r = t.insertRow();
			var name = r.insertCell();
			name.innerHTML = obj[i].username;
			name.style="width:15%;vertical-align:middle;";
			var post = r.insertCell();
			post.style="width:50%;table-layout:fixed;table-layout:fixed;text-align: center;";
			var input = document.createElement('textarea');
			//input.setAttribute('type', 'text');
			input.value = obj[i].post;
			input.style="width:100%;font-size: 12px;font-weight: bold;vertical-align:middle;";
			input.disabled= "true ";
			post.appendChild(input);
			var comment = r.insertCell();
			comment.innerHTML = "<a style='color:#000' href='javascript:void(0);' onclick='comment(this)' id='"+obj[i].postid+"' >comments</a>";
			//comment.id=obj[i].postid;
			comment.style="width:15%;vertical-align:middle;";
			var like = r.insertCell();
			var liketext=["like","dislike"];
			like.innerHTML = "<a style='color:#000' href='javascript:void(0);' onclick='like(this)' id='"+obj[i].postid+"' >"+liketext[parseInt(obj[i].flag)]+"</a><span style='color:#9F4D95;font-size:12px;margin-left:5px;' id='like"+obj[i].postid+"'>"+obj[i].like+"</span>";
			like.style="width:10%;vertical-align:middle;";
			if(myname==obj[i].username){
				var del = r.insertCell();
				del.innerHTML = "<a style='color:#3333FF;font-size:13px;' href='javascript:void(0);' onclick='deletePost(this)' id='"+obj[i].postid+"' >delete</a>";
				del.style="width:10%;vertical-align:middle;";
			}
		     
		}
		document.getElementById('datas').appendChild(t);
		
	}
	
	window.onload = function() {
		
	  	var str=JSON.stringify({{ json|tojson|safe }} );
		obj=$.parseJSON(JSON.parse(str));
		
		var index=0,end=8;
		if(obj.length<end)
			end=obj.length;
		
		showdata(index,end);
		//document.getElementById('dataframe').getElementById('datas').appendChild(t);
		PagingManage($('#complete'),obj.length, 8, 1);		
		pagenum=obj.length;
		//t.setAttribute('border', '1');     
	  
	}
	/*window.onload = function() {
		var str='<iframe id="dataframe" frameborder="0" width="100%"  src="'+'{{url_for("static",filename = "data.html")}}'+'"></iframe>';
		$("#datas").html(str)
		//alert(str);
	}*/
	</script>
<!-- Remove-Item-JavaScript -->
<script type="text/javascript" src="{{url_for('static',filename = 'js/page.js')}}"></script>
<script>
function go() {
    PagingManage($('#complete'),pagenum, 5, 1);
};
function switchPage(divId, page) {
    	var str="";
	$("#datas").html(str)
	
	var index=(page-1)*8,end=index+8;
        if(obj.length<end)
		end=obj.length;
	showdata(index,end);
	
	//alert(page);
}
function send_blog(){
	window.location.href="/SendBlogs";  
} 
	function information(){
		window.location.href="/Information";  
	} 
</script>
</head>
<body>
<div style="width:100%; height:100%;">

<div style="width:20%; height:100%; float:left;"></div>

<div style="width:60%; height:100%; float:left;">
<h1 style="margin-top:5%;">Welcome our world</h1>
<div class="container">
<!-- Mainbar-Starts-Here -->
		<div class="main-bar" style="height:30px;">
			<div class="product">
				<h3>User</h3>
			</div>
			<div class="quantity">
				<h3>Blog</h3>
			</div>
			

			<div class="clear"></div>
		</div>
		
		<!-- //Mainbar-Ends-Here -->

		<!-- Items-Starts-Here -->
		
		<div class="items" id="datas">
		

		</div>
		<!-- //Items-Ends-Here -->

		

		<!-- end -->
		<div id="complete" class="pagination"></div>
		
		
</div>
	



</div>
<div style="width:20%; height:100%; float:left;">
	<div class="sign-out" >
		<a href="javascript:show();">{{username}}</a>
		<ul style="display:none;" id="menu">
	        <li ><a href="javascript:sign_out();">Sign out</a></li>
		<li ><a href="javascript:send_blog();">Send Blog</a></li>
	    	<li ><a href="javascript:information();">Information</a></li>
	  	</ul>
	</div>

</div>




</div>


</body>
</html>
