
<html>
<title>our Twitter</title>
<head>
<!-- Custom-Theme-Files -->
	<link href="{{url_for('static',filename='css/Mainstyle.css')}}" rel="stylesheet" type="text/css"/>
<!-- //Custom-Theme-Files -->
	<script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
	<script type="text/javascript">
	function sign_out()
	{
		if(confirm("confirm sign out?"))
			location.replace("/login")	
				
	}
	var display = false;
	function show(){
	    if(display){
	       document.getElementById('menu').style.display = "none";
	       display = false;
	     }
	    else {
		document.getElementById('menu').style.display = "";
		display = true;
	    }
	}
	function data(){
		//alert("qewerewfe");
		//var str = "[{\"name\":\"111\", \"age\":11},{\"name\":\"222\", \"age\":11}]";  
		//var str='{{json}}';
		var str=JSON.stringify({{ json|tojson|safe }} );
		//alert(str);	
		//var obj=JSON.parse(str);
		//var str2 =$.parseJSON( str ); 
		var obj=$.parseJSON(JSON.parse(str))
		//var obj={{ json|tojson|safe }};
		for (var i=0;i<obj.length;i++)
		{
			alert(obj[i].post);
		}
		
	}
	data();
	</script>
<!-- Remove-Item-JavaScript -->

	


</head>
<body>
<div style="width:100%; height:100%;">

<div style="width:20%; height:100%; float:left;"></div>

<div style="width:60%; height:100%; float:left;">
<h1 style="margin-top:10%;">Welcome our world</h1>
<div class="container">
<!-- Mainbar-Starts-Here -->
		<div class="main-bar" style="height:30px;">
			<div class="product">
				<h3>Blogs</h3>
			</div>
			<div class="quantity">
				<h3>Comments</h3>
			</div>
			<div class="price">
				<h3>Like</h3>
			</div>

			<div class="clear"></div>
		</div>
		
		<!-- //Mainbar-Ends-Here -->

		<!-- Items-Starts-Here -->
		<div class="items" id="datas">
		

 
			

		</div>
		<!-- //Items-Ends-Here -->

		

		<!-- end -->
		<div class="checkout">
			
		</div>
		
</div>
	



</div>
<div style="width:20%; height:100%; float:left;">
	<div class="sign-out" >
		<a href="javascript:show();">{{user.name}}</a>
		<ul style="display:none;" id="menu">
	        <li ><a href="javascript:sign_out();">Sign out</a></li>
		<li ><a href="#">Send Blog</a></li>
	    	<li ><a href="#">Information</a></li>
	  	</ul>
	</div>

</div>




</div>



</body>
</html>
